NODE-RED -FLOW.json
[{"id":"8f28e1c3.1125a","type":"tab","label":"final-review","disabled":false,"info":""},{"id":"f1878863.678588","type":"http request","z":"8f28e1c3.1125a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":600,"wires":[["8865fdd6.d5d38","2158e6a6.09144a","15e75351.344cbd","656b42a4.446ecc","572a7917.fce678"]]},{"id":"8865fdd6.d5d38","type":"function","z":"8f28e1c3.1125a","name":"Pre Prediction-0","func":"var center_id = global.get('center_id')\nvar week = global.get('week')\n\nvar product_id = global.get('product_id')\nvar base_price = global.get('base_price')\nvar promotion = global.get('promotion')\nvar city_code = global.get('city_code')\nvar center_type = global.get('center_type')\nvar op_area = global.get('op_area')\nvar category= global.get('category')\nvar token=msg.payload.access_token\nvar instance_id=\"bbf42d69-f24f-4be6-ab91-f80a99b73cfd\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"product_id\", \"base_price\", \"promotion\", \"city_code\", \"center_type\", \"op_area\", \"category\"], \"values\": [ [week,center_id,product_id,base_price,promotion,city_code,center_type,op_area,category] ]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":540,"wires":[["f443f51b.4f34f8"]]},{"id":"f443f51b.4f34f8","type":"http request","z":"8f28e1c3.1125a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b965e824-16e5-4036-a9be-88ffc31799df/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":540,"wires":[["61ee503c.2edf6"]]},{"id":"61ee503c.2edf6","type":"function","z":"8f28e1c3.1125a","name":"","func":"week_0=msg.payload.predictions[0].values[0][0]\nglobal.set(\"week_0\", week_0)\nmsg.payload.week=global.get(\"week\")\nmsg.payload.weekpred=Math.round(global.get(\"week_0\"))\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["ff689acd.aa28b8","2eb7f097.0625b","ef5718ed.1eaa98","b5d47115.8f65a"]]},{"id":"f83e04db.2f9858","type":"ui_form","z":"8f28e1c3.1125a","name":"Form","label":"","group":"5ae41a5.a2530e4","order":1,"width":"6","height":"14","options":[{"label":"Week","value":"week","type":"text","required":true,"rows":null},{"label":"Center ID","value":"center_id","type":"number","required":true,"rows":null},{"label":"Product ID","value":"product_id","type":"number","required":true,"rows":null},{"label":"Base Price","value":"base_price","type":"number","required":true,"rows":null}],"formValue":{"week":"","center_id":"","product_id":"","base_price":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":320,"wires":[["d7924ee9.e6648","2c27584e.43b378"]]},{"id":"ef5718ed.1eaa98","type":"debug","z":"8f28e1c3.1125a","name":"prediction week debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":420,"wires":[]},{"id":"9c9af118.4b326","type":"http request","z":"8f28e1c3.1125a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b965e824-16e5-4036-a9be-88ffc31799df/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":580,"wires":[["e62fbecd.7bb57"]]},{"id":"2158e6a6.09144a","type":"function","z":"8f28e1c3.1125a","name":"Pre Prediction-1","func":"var week = global.get('week')\nweek++\nvar center_id = global.get('center_id')\nvar product_id = global.get('product_id')\nvar base_price = global.get('base_price')\nvar promotion = global.get('promotion')\nvar city_code = global.get('city_code')\nvar center_type = global.get('center_type')\nvar op_area = global.get('op_area')\nvar category= global.get('category')\nvar token=msg.payload.access_token\nvar instance_id=\"bbf42d69-f24f-4be6-ab91-f80a99b73cfd\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"product_id\", \"base_price\", \"promotion\", \"city_code\", \"center_type\", \"op_area\", \"category\"], \"values\": [ [week,center_id,product_id,base_price,promotion,city_code,center_type,op_area,category] ]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["9c9af118.4b326"]]},{"id":"15e75351.344cbd","type":"function","z":"8f28e1c3.1125a","name":"Pre Prediction-2","func":"var week = global.get('week')\nweek++ \nweek++\nvar center_id = global.get('center_id')\nvar product_id = global.get('product_id')\nvar base_price = global.get('base_price')\nvar promotion = global.get('promotion')\nvar city_code = global.get('city_code')\nvar center_type = global.get('center_type')\nvar op_area = global.get('op_area')\nvar category= global.get('category')\nvar token=msg.payload.access_token\nvar instance_id=\"bbf42d69-f24f-4be6-ab91-f80a99b73cfd\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"product_id\", \"base_price\", \"promotion\", \"city_code\", \"center_type\", \"op_area\", \"category\"], \"values\": [ [week,center_id,product_id,base_price,promotion,city_code,center_type,op_area,category] ]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["9a941dd4.95d4d"]]},{"id":"656b42a4.446ecc","type":"function","z":"8f28e1c3.1125a","name":"Pre Prediction-3","func":"var week = global.get('week')\nweek++\nweek++\nweek++\nvar center_id = global.get('center_id')\nvar product_id = global.get('product_id')\nvar base_price = global.get('base_price')\nvar promotion = global.get('promotion')\nvar city_code = global.get('city_code')\nvar center_type = global.get('center_type')\nvar op_area = global.get('op_area')\nvar category= global.get('category')\nvar token=msg.payload.access_token\nvar instance_id=\"bbf42d69-f24f-4be6-ab91-f80a99b73cfd\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"product_id\", \"base_price\", \"promotion\", \"city_code\", \"center_type\", \"op_area\", \"category\"], \"values\": [ [week,center_id,product_id,base_price,promotion,city_code,center_type,op_area,category] ]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":660,"wires":[["1a0b11cc.ce57ae"]]},{"id":"9a941dd4.95d4d","type":"http request","z":"8f28e1c3.1125a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b965e824-16e5-4036-a9be-88ffc31799df/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":620,"wires":[["d474ae50.cc8a4"]]},{"id":"1a0b11cc.ce57ae","type":"http request","z":"8f28e1c3.1125a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b965e824-16e5-4036-a9be-88ffc31799df/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":660,"wires":[["4dc8b0ff.d9aa4"]]},{"id":"e62fbecd.7bb57","type":"function","z":"8f28e1c3.1125a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nweek_1 = msg.payload\nglobal.set(\"week_1\", week_1)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["ff689acd.aa28b8","2eb7f097.0625b"]]},{"id":"d474ae50.cc8a4","type":"function","z":"8f28e1c3.1125a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nweek_2 = msg.payload\nglobal.set(\"week_2\", week_2)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":620,"wires":[["ff689acd.aa28b8","2eb7f097.0625b"]]},{"id":"4dc8b0ff.d9aa4","type":"function","z":"8f28e1c3.1125a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nweek_3 = msg.payload\nglobal.set(\"week_3\", week_3)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":660,"wires":[["ff689acd.aa28b8","2eb7f097.0625b"]]},{"id":"ff689acd.aa28b8","type":"function","z":"8f28e1c3.1125a","name":"","func":"week_0 = global.get(\"week_0\")\nweek_1 = global.get(\"week_1\")\nweek_2 = global.get(\"week_2\")\nweek_3 = global.get(\"week_3\")\n\nweekval =global.get(\"week\")\nlet week = []\nweek[0]=parseInt(weekval)\nweek[1]=parseInt(weekval) + 1\nweek[2]=parseInt(weekval) + 2\nweek[3]=parseInt(weekval) + 3\nb = global.get(\"base_price\")\nvar ki=global.get('count');\n\nmsg.payload = [{\n    \"series\": [\"No promotions\"],\n    \"data\": [ [week_0*b,\n               week_1*b,\n               week_2*b, \n               week_3*b] \n            ],\n    \"labels\": [ \"Week \" + week[0],\"Week \" + week[1],\"Week \" + week[2],\"Week \" + week[3]]\n   //\"labels\": [ week_0,week_1,week_2,week_3]\n}]\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":580,"wires":[["f7e4468a.908758"]]},{"id":"f7e4468a.908758","type":"ui_chart","z":"8f28e1c3.1125a","name":"","group":"77cac3fb.2082ec","order":2,"width":"12","height":"6","label":"Expected Earnings     ","chartType":"bar","legend":"false","xformat":"week","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"4","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":560,"wires":[[]]},{"id":"54a8a2b8.f44c5c","type":"dashDB in","z":"8f28e1c3.1125a","dashDB":"f213cec1.0b3","service":"_ext_","query":"","params":"","name":"","x":400,"y":360,"wires":[["1da6e1ca.6690de"]]},{"id":"d7924ee9.e6648","type":"function","z":"8f28e1c3.1125a","name":"","func":"global.set(\"center_id\",msg.payload.center_id)\nglobal.set(\"week\",msg.payload.week)\nglobal.set(\"product_id\",msg.payload.product_id)\nglobal.set(\"base_price\",msg.payload.base_price)\nglobal.set(\"promotion\",msg.payload.promotion)\nglobal.set(\"count\",1)\n//global.set(\"category\",msg.payload.category)\nvar icv = global.get('product_id')\n//picv = parseInt(icv);\nmsg.payload = `SELECT \"category\"\n  FROM \"BWD89342\".\"MEAL_INFO\" WHERE \"meal_id\"=${icv};`;\n  \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["97c2672b.0ddaf8"]]},{"id":"2eb7f097.0625b","type":"function","z":"8f28e1c3.1125a","name":"","func":"//week_array = []\n//var msg1={}\nweek_0 = global.get(\"week_0\")\nweek_1 = global.get(\"week_1\")\nweek_2 = global.get(\"week_2\")\nweek_3 = global.get(\"week_3\")\n\nweekval =global.get(\"week\")\nlet week = []\nweek[0]=parseInt(weekval)\nweek[1]=parseInt(weekval) + 1\nweek[2]=parseInt(weekval) + 2\nweek[3]=parseInt(weekval) + 3\n// week_01 = global.get(\"week_01\")\n// week_11 = global.get(\"week_11\")\n// week_21 = global.get(\"week_21\")\n// week_31 = global.get(\"week_31\")\n\n//msg.payload =\n//[{\n//    \"series\": [\"No promotions\",\"With promotions\"],\n//   \"data\": [ [week_0, week_1, week_2, week_3],[week_01, week_11,week_21, week_31] ],\n//    \"labels\": [ \"week_0\",\"week_1\",\"week_2\",\"week_3\"]\n//}];\nmsg.payload =\n[{\n    \"series\": [\"No promotions\"],\n    \"data\": [ [week_0, week_1, week_2, week_3] ],\n    \"labels\": [\"Week \" + week[0],\"Week \" + week[1],\"Week \" + week[2],\"Week \" + week[3]]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":660,"wires":[["5c2a6227.90d29c"]]},{"id":"2c27584e.43b378","type":"function","z":"8f28e1c3.1125a","name":"","func":"\nglobal.set(\"center_id\",msg.payload.center_id)\nglobal.set(\"week\",msg.payload.week)\nglobal.set(\"product_id\",msg.payload.product_id)\nglobal.set(\"base_price\",msg.payload.base_price)\nglobal.set(\"promotion\",msg.payload.promotion)\n//global.set(\"category\",msg.payload.category)\nvar icv = global.get('center_id')\n//picv = parseInt(icv);\nmsg.payload = `SELECT \"city_code\", \"center_type\", \"op_area\"\n  FROM \"BWD89342\".\"CENTER_INFO\" WHERE \"center_id\"=${icv};`;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":360,"wires":[["54a8a2b8.f44c5c"]]},{"id":"97c2672b.0ddaf8","type":"dashDB in","z":"8f28e1c3.1125a","dashDB":"f213cec1.0b3","service":"_ext_","query":"","params":"","name":"","x":400,"y":300,"wires":[["6ea6e1ab.185f5"]]},{"id":"6ea6e1ab.185f5","type":"function","z":"8f28e1c3.1125a","name":"","func":"global.set(\"category\",msg.payload.category)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["36e84257.fd63ce"]]},{"id":"1da6e1ca.6690de","type":"function","z":"8f28e1c3.1125a","name":"","func":"global.set(\"city_code\",msg.payload.city_code)\nglobal.set(\"center_type\",msg.payload.center_type)\nglobal.set(\"op_area\",msg.payload.op_area)\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["56229da9.638d54","69546e13.d3aec"]]},{"id":"6e53443b.38a86c","type":"function","z":"8f28e1c3.1125a","name":"","func":"\nif(msg.payload.length===0){\n    msg.payload=\"invalid product id\";\n    \n    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":970,"y":300,"wires":[["87e9107a.d9c46"]]},{"id":"69301636.21e428","type":"debug","z":"8f28e1c3.1125a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":320,"wires":[]},{"id":"d3e98da9.41ce8","type":"function","z":"8f28e1c3.1125a","name":"","func":"\nif(msg.payload.length===0){\n    msg.payload=\"invalid center id\";\n    \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["87e9107a.d9c46"]]},{"id":"87e9107a.d9c46","type":"function","z":"8f28e1c3.1125a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[["a9e423fc.1f43f","b4964935.8244e8"]]},{"id":"a9e423fc.1f43f","type":"debug","z":"8f28e1c3.1125a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":220,"wires":[]},{"id":"b4964935.8244e8","type":"function","z":"8f28e1c3.1125a","name":"","func":"//global.set(\"week\",msg.payload.week)\n//global.set(\"product_id\",msg.payload.product_id)\n//global.set(\"base_price\",msg.payload.base_price)\n//global.set(\"promotion\",msg.payload.promotion)\n\n//global.set(\"center_id\",msg.payload.center_id)\nif(msg.payload===\"invalid product id\" || msg.payload===\"invalid center id\")\n{ \n  msg.payload=\"error\";\n  global.set(\"count\",0);\n  return msg;\n}\nvar ki=global.get('count');\nif(ki){\nvar apikey=\"MXAdusayVPp7we_0JcbuBpQarkmRIYJrv5JH9HCdJ_Ja\";\nmsg.headers={'Content-Type': 'application/x-www-form-urlencoded'}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n}\n\n// else{\n//     msg.payload=\"permission denied\";\n//     return msg;\n// }","outputs":1,"noerr":0,"x":1250,"y":320,"wires":[["f1878863.678588","69301636.21e428"]]},{"id":"36e84257.fd63ce","type":"ui_template","z":"8f28e1c3.1125a","group":"b7b2727d.76a5f","name":"Product info","order":1,"width":6,"height":2,"format":"<h1><font color=#10ad9e>STATISTICS</font></h1>\n<div>Category Of Product:    <strong>{{msg.payload.category}}</strong></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":790,"y":300,"wires":[["6e53443b.38a86c"]]},{"id":"56229da9.638d54","type":"ui_template","z":"8f28e1c3.1125a","group":"b7b2727d.76a5f","name":"Center info","order":2,"width":6,"height":2,"format":"\n<div>Code Of Center:    <strong>{{msg.payload.city_code}}</strong></div>\n<div>Type Of Center:    <strong>{{msg.payload.center_type}}</strong></div>\n<div>Area Of Operation:    <strong>{{msg.payload.op_area}} sqkm</strong></div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":790,"y":360,"wires":[["d3e98da9.41ce8"]]},{"id":"69546e13.d3aec","type":"debug","z":"8f28e1c3.1125a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":160,"wires":[]},{"id":"b5d47115.8f65a","type":"ui_template","z":"8f28e1c3.1125a","group":"b7b2727d.76a5f","name":"Prediction week","order":3,"width":"6","height":"1","format":"<div>Prediction for week {{msg.payload.week}}: <strong>{{msg.payload.weekpred}} units</strong></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":500,"wires":[[]]},{"id":"572a7917.fce678","type":"function","z":"8f28e1c3.1125a","name":"promotion ","func":"var center_id = global.get('center_id')\nvar week = global.get('week')\n\nvar product_id = global.get('product_id')\nvar base_price = global.get('base_price')\nvar promotion = 1\nvar city_code = global.get('city_code')\nvar center_type = global.get('center_type')\nvar op_area = global.get('op_area')\nvar category= global.get('category')\nvar token=msg.payload.access_token\nvar instance_id=\"bbf42d69-f24f-4be6-ab91-f80a99b73cfd\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"product_id\", \"base_price\", \"promotion\", \"city_code\", \"center_type\", \"op_area\", \"category\"], \"values\": [ [week,center_id,product_id,base_price,promotion,city_code,center_type,op_area,category] ]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":720,"wires":[["62d93900.eba798"]]},{"id":"62d93900.eba798","type":"http request","z":"8f28e1c3.1125a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b965e824-16e5-4036-a9be-88ffc31799df/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":720,"wires":[["14a7c843.947d98"]]},{"id":"14a7c843.947d98","type":"function","z":"8f28e1c3.1125a","name":"","func":"promopred=msg.payload.predictions[0].values[0][0]\nglobal.set(\"promopred\", promopred)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["b56c3f86.707fb"]]},{"id":"b56c3f86.707fb","type":"function","z":"8f28e1c3.1125a","name":"","func":"let nopromopred = global.get(\"week_0\")\nlet promopred = global.get(\"promopred\")\nlet percent = Math.round(100 * (promopred - nopromopred) / nopromopred)\nglobal.set(\"percent_increase\", percent)\nmsg.payload.percent_increase = percent\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":720,"wires":[["fa3004b7.fd1768"]]},{"id":"fa3004b7.fd1768","type":"ui_template","z":"8f28e1c3.1125a","group":"b7b2727d.76a5f","name":"Percent increase by promo","order":4,"width":"6","height":"1","format":"<div>Promotional events can increase sales by <strong>{{msg.payload.percent_increase}}%</strong> </div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1140,"y":720,"wires":[[]]},{"id":"5c2a6227.90d29c","type":"ui_chart","z":"8f28e1c3.1125a","name":"","group":"77cac3fb.2082ec","order":1,"width":"12","height":"6","label":"Demand vs week","chartType":"line","legend":"true","xformat":"Week","interpolate":"linear","nodata":"waiting","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"4","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3695d9","#ff8800","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":660,"wires":[[]]},{"id":"5ae41a5.a2530e4","type":"ui_group","z":"","name":"Form","tab":"52e63638.248d68","order":1,"disp":true,"width":"6","collapse":false},{"id":"77cac3fb.2082ec","type":"ui_group","z":"","name":"PREDICTIONS","tab":"92cd58ef.a00ed8","order":1,"disp":true,"width":"12","collapse":false},{"id":"f213cec1.0b3","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"b7b2727d.76a5f","type":"ui_group","z":"","name":"Predictions","tab":"52e63638.248d68","order":3,"disp":true,"width":"6","collapse":false},{"id":"52e63638.248d68","type":"ui_tab","z":"","name":"Warehouse Prototype","icon":"dashboard","disabled":false,"hidden":false},{"id":"92cd58ef.a00ed8","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard","disabled":false,"hidden":false}]